.bundle
db/*.sqlite3
log/*.log
log/*
tmp/**/*
public/assets
public/system
public/uploads
config/s3.yml
config/unicorn.rb
.project
doc/controllers_*
doc/models_*
.gems
.rvmrc
.DS_Store
.sass_cache
node_modules
nbproject
.rspec
.env
.bundle/config
